 body{
  background-color: #;
  margin:0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
 }
 .first{
  background-color: #d3e0ea;
  position: relative;
  padding-top: 100px;
 }
 h1{
 margin-top: 10;
 font-family: 'Sacramento', cursive;
 font-size: 60px;
 color: #467E3B;
 }
 h2{
font-family: 'Montserrat', sans-serif;
color: #467E3B;
 }
 h3{
  font-family: 'Montserrat', sans-serif;
  color: #467E3B;
 }
.bottom{
  position:absolute;

}
.bottom2{
  position:absolute;
    right:300px;
}
.skill-row{
  width:50%;
  margin:80px auto 80px auto;
  text-align: left;
  line-height: 2;
}
.programming{
  float: left;
  margin-right: 45px;
}
.building{
  float: right;
}
.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#d3e0ea;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
    color: yellow;
}
.myButton:active {
	position:relative;
	top:1px;
}

.bottom-container{
  background-color:#d3e0ea;
  padding:50px 0 20px;
}
a{
  font-family: 'Montserrat', sans-serif;
  color: #467E3B;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color: #5B3118;
}
.copyright{
  color:#599bb3;
  font-size: 15px;
  padding:20px; 0;
}
